header {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  height: 70px;
  margin: 0;
  background-color: transparent;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  &.active {
    background-color: $white_color;
  }

  .header-inner {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0 40px 0;

    .three {
      display: none;
    }

    .site__title {
      text-align: left;
      padding-top: 16px;
      font-size: 2.2rem;
      color: $black_color;
      letter-spacing: 2px;
      margin: 0;
    }

    .menu {
      list-style-type: none;
      position: absolute;
      top: 0;
      right: 25px;

      li {
        position: relative;
        display: inline-block;
        padding: 0 20px;
        cursor: pointer;
        &:hover {
          color: $accent_color;
        }
        .search-from {
          position: relative;

          .search-input {
            display: block;
            width: 250px;
            height: 30px;
            padding: 5px 30px 5px 15px;
            outline: 0;
            border-radius: 10px;
            border: 1px solid $black_color;
            background-color: transparent;
          }
          .search-btn {
            position: absolute;
            top: 50%;
            right: 4px;
            transform: translateY(-50%);
            background-color: transparent;
            border: none;
            outline: 0;
            cursor: pointer;
            i {
              font-size: 1.6rem;
              padding: 1.5px;
              border-radius: 50%;
            }
          }
        }

        a {
          display: block;
          font-weight: bold;
          color: $black_color;
          padding: 22px 0 27px;
          line-height: 2;
          transition: all 0.2s ease-in-out;
          &:hover {
            color: $accent_color;
          }
          &::after {
            content: "";
            display: block;
            // background-color: #fff;
            width: 0;
            height: 1px;
            text-align: left;
            transition: all 0.3s ease-in-out;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 940px){
  header{
    padding: 0 20px;
    .header-inner {
      position: relative;
      display: block;
      width: 100%;
      margin: 0 auto;

      .three {
        display: block;
        position: absolute;
        top: 5px;
        left: 0;
        padding: 0 10px;
        float: left;
      }

      .site-logo {
        .site__title {
          display: inline-block;
          text-align: center;
          margin: 0 auto;
        }
      }
      .menu {
        display: none;
      }
    }
  }
}

.menu-inner-a {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: $off_white;
  z-index: 100;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;

  &.active {
    height: 82px;
  }

  .menu-a-wrapper{
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;

    .menu-a {
      margin: 0 auto;
      list-style-type: none;
      width: 940px;
      text-align: right;

      li {
        display: inline-block;
        margin: 0 30px;

        a {
          padding-bottom: 7px;
          color: $black_color;
          font-size: 1.5rem;
          border-bottom: 0.2px solid rgb(190, 190, 190);
          transition: all 0.2s ease-in-out;

          &:hover {
            color: $accent_color;
          }
        }
      }
    }
  }
}

.menu-inner-b {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: $off_white;
  z-index: 100;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;

  &.active {
    height: 150px;
  }

  .menu-b-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 25px 30px;
    text-align: center;

    .menu-b {
      float: right;
      list-style-type: none;

      li {
        width: 200px;
        text-align: left;
        margin: 0 0 40px;

        &.m-min {
          margin: 0 0 25px;
        }

        &.right {
          float: right;
        }

        .menu-b-top {

          .menu-b-title {
            display: inline-block;
            padding-bottom: 5px;
            color: $black_color;
            font-size: 1.4rem;
            border-bottom: 0.2px solid rgb(190, 190, 190);
            transition: all 0.2s ease-in-out;
            margin-bottom: 15px;
            cursor: default;
          }
          .menu-link {
            margin-bottom: 7px;
            a {
              color: $black_color;
              font-size: 1.3rem;
              transition: all 0.2s ease-in-out;
              border-bottom: none;
              &:hover {
                color: $accent_color;
              }
              i {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}
