.home {
  &__head {
    margin: 100px auto;
    padding: 0;

    h2 {
      text-align: center;
      font-size: 3.2rem;
      letter-spacing: 1px;
    }
  }

  &__diaries {

    .diaries {
      display: grid;
      list-style-type: none;
      grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));

      .diary-box {

        .diary-link {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          overflow: hidden;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 10;
            background-color: transparent;
            transition: all 0.5s ease-in-out;
          }

          .diary-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 100%;
            height: 100%;
            transition: all 0.5s ease-in-out;
          }
          .diary-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            color: transparent;
            z-index: 11;
            transition: all 0.5s ease-in-out;
            time {
              font-size: 1.6rem;
              letter-spacing: 1px;
            }
            h3 {
              font-size: 2.5rem;
              letter-spacing: 1px;
            }
          }
        }
        &:hover .diary-link::before {
          background-color: rgba(0, 0, 0, 0.3);
        }
        &:hover .diary-image {
          width: 110%;
          height: 110%;
        }
        &:hover .diary-title {
          color: $white_color;
        }
      }
    }
  }
  .need__login {
    display: block;
    margin: 0 auto;
    width: 40%;
    min-width: 300px;
    font-size: 2.5rem;
    font-weight: bold;
    color: $white_color;
    background-color: $accent_color;
    text-align: center;
    padding: 50px 0;
    box-shadow: 0 3px 5px $shadow_color;
    border: 2px solid $accent_color;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $accent_color;
      background-color: $white_color;
    }
  }
}
@media screen and (max-width: 1190px){
  .home {
    &__head {
      margin: 100px auto;
      padding: 0;

      h2 {
        text-align: center;
        font-size: 3.0rem;
        letter-spacing: 1px;
      }
    }

    &__diaries {
      .diaries {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      }
    }
  }
}
@media screen and (max-width: 768px){
  .home {
    &__head {
      margin: 100px auto 70px;

      h2 {
        text-align: center;
        font-size: 2.0rem;
        letter-spacing: 1px;
      }
    }

    &__diaries {
      .diaries {
        grid-template-columns: 1fr;

        .diary-box {

          .diary-link {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 100%;
              height: 100%;
              z-index: 10;
              background-color: rgba(0, 0, 0, 0.3);
            }

            .diary-image {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateX(-50%) translateY(-50%);
              width: 100%;
              height: 100%;
              transition: all 0.5s ease-in-out;
            }
            .diary-title {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateX(-50%) translateY(-50%);
              color: $white_color;
              z-index: 11;
              transition: all 0.5s ease-in-out;
              time {
                font-size: 1.3rem;
                letter-spacing: 1px;
              }
              h3 {
                font-size: 1.8rem;
                letter-spacing: 1px;
              }
            }
          }
        }
      }
    }
    .need__login {
      display: block;
      margin: 0 auto;
      width: 50%;
      font-size: 2.0rem;
      font-weight: bold;
      color: $white_color;
      background-color: $accent_color;
      text-align: center;
      padding: 5% 0;
      box-shadow: 0 3px 5px $shadow_color;
      border: 2px solid $accent_color;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $accent_color;
        background-color: $white_color;
      }
    }
  }
}

.post__new__diary {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 180px;
  text-align: center;
  background-color: $white_color;
  box-shadow: 0 3px 5px $shadow_color;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  &:hover {
    background-color: $accent_color;
    opacity: 0.9;
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.6s ease-in-out;
  }
  &:hover .post__new__diary__link {
    color: $white_color;
  }
}
