.diary__page {
  margin: 140px auto;

  &__head {
    width: 90%;
    margin: 0 auto 80px;

    &__inner {
      max-width: 1246px;

      .three__images__head {
        max-width: 1246px;
        width: 100%;
        margin-bottom: .6em;
        &__image {
          width: 100%;
          object-fit: cover;
        }
      }
      .two__images__head {
        max-width: 1246px;
        width: 100%;
        margin-bottom: .6em;
        &__image {
          width: 100%;
          object-fit: cover;
        }
      }
      .one__images__head {
        max-width: 1246px;
        width: 100%;
        margin-bottom: .6em;
        &__image {
          width: 100%;
          object-fit: cover;
        }
      }

      .three__images__bottom {
        max-width: 1246px;
        width: 100%;
        &__image:nth-of-type(1) {
          float: left;
          width: 49%;
          object-fit: cover;
        }
        &__image:nth-of-type(2) {
          float: right;
          width: 49%;
          object-fit: cover;
        }
      }
      .two__images__bottom {
        max-width: 1246px;
        width: 100%;
        &__image {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__main {
    margin: 0 auto;
    width: calc(90% - 40px);
    max-width: 1206px;

    &__title {
      width: 100%;
      margin-bottom: 50px;

      .diary__title {
        font-size: 3rem;
        letter-spacing: 1px;
        text-align: left;
      }
    }
    &__content {
      width: 100%;
      margin: 0 auto;

      p {
        text-align: left;
        letter-spacing: 0.8px;
        line-height: 2;
        margin-bottom: 40px;
      }
    }
  }

  .option__form {
    margin: 70px auto 0;
    width: calc(90% - 40px);
    max-width: 1206px;

    .follow__form {
      float: left;
      padding: 5px 10px;
      background-color: $off_white;
      box-shadow: 0 1px 3px $shadow_color;

      &__user {
        display: inline-block;
      }
      &__btn {
        display: inline-block;
        font-size: 1.3rem;
        margin-left: 10px;
        padding: 2.5px 12px 3px;
        border-radius: 20px;
        border: 1px solid $accent_color;
        background-color: $accent_color;
        color: $white_color;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          background-color: $white_color;
          color: $accent_color;
        }
        &.follow {
          border: 1px solid $accent_color;
          background-color: $white_color;
          color: $accent_color;
          &:hover {
            background-color: $accent_color;
            color: $white_color;
          }
        }
      }
    }
    .phantom__content {
      display: none;
    }
    .like__form {
      float: left;
      margin: 0 30px;
      padding: 5px 15px;
      background-color: $off_white;
      box-shadow: 0 1px 3px $shadow_color;

      &__link {
        display: block;
        font-size: 1.3rem;
        padding: 2.5px 15px 3px;
        border-radius: 20px;
        border: 1px solid $accent_color;
        background-color: $white_color;
        color: $accent_color;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          background-color: $accent_color;
          color: $white_color;
        }
        &.liked {
          border: 1px solid $accent_color;
          background-color: $accent_color;
          color: $white_color;
          &:hover {
            background-color: $white_color;
            color: $accent_color;
          }
        }
        &.active {
          background-color: $accent_color;
          color: $white_color;
          &:hover {
            background-color: $accent_color;
            color: $white_color;
          }
          &.liked {
            border: 1px solid $accent_color;
            background-color: $white_color;
            color: $accent_color;
            &:hover {
              background-color: $accent_color;
              color: $white_color;
            }
          }
        }
      }
    }

    .delete__form,.edit__form {
      float: right;
      display: block;
      padding: 5px 10px;
      margin: 0 20px;
      letter-spacing: .5px;
      background-color: $off_white;
      box-shadow: 0 1px 3px $shadow_color;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: $accent_color;
        box-shadow: 2px 2px 3px $shadow_color;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .diary__page {
    &__head {
      &__inner {
        .three__images__head {
          margin-bottom: .3em;
        }
      }
    }
    .option__form {
      margin: 70px auto 0;
      width: calc(90% - 40px);
      max-width: 1206px;
      text-align: left;

      .follow__form {
        float: none;
        display: inline-block;
        padding: 5px 10px;
        margin-bottom: 20px;
        background-color: $off_white;
        box-shadow: 0 1px 3px $shadow_color;

        &__user {
          display: inline-block;
        }
        &__btn {
          display: inline-block;
          font-size: 1.3rem;
          margin-left: 10px;
          padding: 2.5px 12px 3px;
          border-radius: 20px;
          border: 1px solid $accent_color;
          background-color: $accent_color;
          color: $white_color;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          &:hover {
            background-color: $white_color;
            color: $accent_color;
          }
          &.follow {
            border: 1px solid $accent_color;
            background-color: $white_color;
            color: $accent_color;
            &:hover {
              background-color: $accent_color;
              color: $white_color;
            }
          }
        }
      }
      .phantom__content {
        display: block;
        margin: 1px auto;
      }
      .like__form {
        float: none;
        display: inline-block;
        margin: 0;
        padding: 5px 15px;
        background-color: $off_white;
        box-shadow: 0 1px 3px $shadow_color;

        &__link {
          display: inline-block;
          font-size: 1.3rem;
          padding: 2.5px 15px 3px;
          border-radius: 20px;
          border: 1px solid $accent_color;
          background-color: $white_color;
          color: $accent_color;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          &:hover {
            background-color: $accent_color;
            color: $white_color;
          }
          &.liked {
            border: 1px solid $accent_color;
            background-color: $accent_color;
            color: $white_color;
            &:hover {
              background-color: $white_color;
              color: $accent_color;
            }
          }
          &.active {
            background-color: $accent_color;
            color: $white_color;
            &:hover {
              background-color: $accent_color;
              color: $white_color;
            }
            &.liked {
              border: 1px solid $accent_color;
              background-color: $white_color;
              color: $accent_color;
              &:hover {
                background-color: $accent_color;
                color: $white_color;
              }
            }
          }
        }
      }

      .delete__form,.edit__form {
        display: none;
      }
    }
  }
}
