<header>
  <div class="header-inner">
    <div class="three col">
      <div class="hamburger" id="hamburger-1">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>
    <%= link_to diaries_path, class: "site-logo" do %>
      <h1>DIARY APP</h1>
    <% end %>
    <ul class="menu">
      <li>
        <%= form_tag('/diaries/search',class: "search-from", method: :get) do %>
          <input class="search-input" name="keyword" placeholder="キーワード検索" type="text" value="">
          <button class="search-btn" title="検索" type="submit">
            <i class="fas fa-search"></i>
          </button>
        <% end %>
      </li>
      <li><a href="#">Ranking</a></li>
      <li><a href="#">プロフィール</a></li>
      <li class="menu-head-a">
        編集
        <i class="fas fa-sort-down"></i>
        <div class="menu-inner-a">
          <div class="menu-a-wrapper">
            <ul class="menu-a">
              <li><a href="#">
                <i class="far fa-bookmark"></i>
                記事
              </a></li>
              <li><a href="#">
                <i class="far fa-heart"></i>
                ユーザー
              </a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</header>
